.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.input-group label {
    align-self: flex-start;
    margin: 10px 0 5px;
    font-weight: bold;
}

.input-group input[type="text"],
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

textarea {
    height: 100px;
    resize: vertical;
}

/* Button group styles */
.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.button-group button {
    padding: 10px 20px;
    font-size: 16px;
}

/* Video container styles */
.video-container {
    margin: 20px 0;
    text-align: center;
}

.video-container video {
    max-width: 100%;
    height: auto;
}

/* Video list styles */
.video-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

.video-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.video-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.video-details h3,
.video-details p {
    margin: 5px 0;
}

.video-details h3 {
    font-size: 18px;
}

.video-details p {
    font-size: 14px;
    color: #555;
}

/* Container for video cards */
.video-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2%;
}

/* Card for each video */
.video-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    background-color: #fff;
}

.video-card-thumbnail {
    width: 100%;
    height: auto;
}

.video-card-details {
    padding: 10px;
}

.video-card-details h3 {
    margin: 0;
    font-size: 1.2em;
}

.video-card-details p {
    margin: 5px 0;
    color: #666;
}